[Desktop Entry]
Type=Application
Name=GIMP
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=gimp org.gimp.GIMP @@u %U @@
Terminal=false
