# Installed to /usr/share/dbus-1/system-services/os.jarvis.Installer1.service.
# D-Bus activation hands off to systemd; Exec is never used.
[D-BUS Service]
Name=os.jarvis.Installer1
Exec=/bin/false
User=root
SystemdService=jarvis-installer-backend.service
